.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;

  &__form {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 70%;
    z-index: 11;
    background-color: $white-bg;
    border-radius: 8px;
    border: 2px solid $blue;
  }

  &__title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
  }

  &__wrapper {
    margin: 10px;
    text-align: center;
    width: 70%;
  }

  &__input {
    width: 100%;
    text-align: center;
  }
}