.products, .cart {

  width: 100%;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__filter {
    width: 25%;
  }

  &__list {
    width: 75%;
  }

  &__list,
  &__filter {
    margin: 10px;
  }

  &__sort {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 16%);
  }

  &__find {
    font-weight: 500;
    position: relative;
  }

  &__find::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    bottom: 0;
    background-color: $white;
    opacity: .5;
  }

  &__select,
  &__select option {
    cursor: pointer;
  }

  &__view-mode {
    display: flex;
  }

  &__view-tile,
  &__view-list {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__view-tile {
    margin-right: 4px;
    padding-left: 12px;
  }

  &__view-tile span,
  &__view-tile span::before,
  &__view-list span {
    pointer-events: none;
    height: 10px;
    border: 2px solid $grey;
    border-radius: 3px;
    transition: opacity .2s;
    position: relative;
    z-index: 1;
  }

  &__view-tile span {
    display: inline-block;
    width: 10px;
    margin: 1px;
    position: relative;
    opacity: .5;
  }

  &__view-tile span::before {
    content: '';
    position: absolute;
    right: 10px;
    top: -2px;
    width: 10px;
    border-radius: 3px;
  }

  &__view-list span {
    display: inline-block;
    width: 22px;
    margin: 1px;
    opacity: .5;
  }

  &__view-tile.active-mode span,
  &__view-list.active-mode span,
  &__view-tile:hover span,
  &__view-list:hover span {
    opacity: 1;
  }

  &__items {
    padding: 20px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  &__items.tile .item {
    width: 31%;
    aspect-ratio: 1 / 1.4;
  }

  &__items.tile .item__info {
    display: none;
  }

  &__items.list .item {
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 4 / 1;
    padding-bottom: 0;
  }

  &__items.list .item__image-container {
    width: 32%;
  }

  &.list .item__name {
    margin-bottom: 10px;
  }
}

.item {

  margin: 1.1%;

  // &.tile {
  //   width: 32%;
  //   aspect-ratio: 1 / 1.4;
  // }

  // &.tile .item__info {
  //   display: none;
  // }

  // &.list {
  //   padding-right: 10px;
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   aspect-ratio: 4 / 1;
  //   padding-bottom: 0;
  // }

  background-color: $white;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 16%);
  text-align: center;
  cursor: pointer;
  transition: box-shadow .3s;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 46%);
  }

  &:hover .item__image {
    transform: scale(1.2);
  }

  &__image-container {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  &__about {
    margin-right: auto;
    padding-left: 10px;
  }

  // &.list .item__image-container {
  //   width: 32%;
  // }

  // &.list .item__name {
  //   margin-bottom: 10px;
  // }

  &__name {
    margin: 0 5px;
    font-size: 20px;
    @include text-clamp(1);
  }

  &__price {
    padding: 0 5px;
  }

  &__name,
  &__price,
  &__add {
    margin: 2px 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
  }

  &__info {
    text-align: left;
  }

  &__add {
    width: fit-content;
    height: 28px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__text,
  &__price {
    @extend %roboto-500;
  }

  &__text span {
    @extend %roboto-400;
  }
}